main{
    padding: 0px calc(100%/2 - 550px);
    background-color:  rgb(242, 233, 221);
    display: flex;
}

.main{
    margin: 20px 0px;
    background-color:  rgb(242, 233, 221);
    width: 1100px;
    height: calc(100% - 40px);
    display: flex;
    border-radius: 20px;
}

.main_1{
    width: 300px;
}

.side_1{
    border: 2px solid rgb(251, 193, 130);
    border-radius: 5px;
    background-color: rgb(253, 225, 197);
    width: 100%;
    height: 180px;
}

.side_1 p{
    text-align: center;
    color: rgb(196, 117, 4);
    font-weight: bolder;
    font-size: 20px;
}

.side_1 div{
    text-align: center;
    font-weight: bolder;
}

.side_1 #link_1{
    color: red;
    font-size: 35px;
}

.side_1 #link_2{
    color: rgb(196, 117, 4);
    font-size: 13px;
}

.side_1 a{
    text-decoration: none;
}

.side_1 a:hover{
    text-decoration: underline;
}

.side_2{
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    overflow: hidden;
}

.side_2 .last_update{
    padding: 10px;
    background-color: rgb(251, 193, 130);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.side_2 .last_update_list{
    height: calc(100% - 43px);
    overflow-y: auto;
}

.side_2 .last_update_list::-webkit-scrollbar{
    width: 0px;
}

.side_2 .last_anime{
    user-select: none;
    padding: 10px;
    background-color: rgb(253, 225, 197);
    color: rgba(163, 113, 28, 0.658);
    font-size: 15px;
    border-top: 1px solid rgb(251, 193, 130);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.side_2 .last_anime:hover{
    background-color: rgb(254, 224, 183);
}

.last_anime_info{
    width: 700px;
    font-size: 13px;
    padding: 10px;
    display: none;
    position: absolute;
    top: 645px;
    left: 700px;
    color: rgba(163, 113, 28);
    background-color: rgb(253, 225, 197, 0.93);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
}

.last_anime_info div + div{
    margin: 0px 5px;
}

.last_anime_info img{
    width: 200px;
    border-radius: 10px;
}

.last_anime:hover + .last_anime_info{
    display: flex;
}

.side_3{
    margin-top: 30px;
    border: 2px solid rgb(251, 193, 130);
}

.side_4{
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
    user-select: none;
}

.side_4 .timetable{
    padding: 10px;
    border-radius: 10px;
    color: rgb(196, 117, 4);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.side_4 .info_1{
    text-align: center;
    border-top: 2px solid rgb(251, 193, 130);
    padding: 5px;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(136, 95, 24);
}

.side_4 .timetable_list .timetable_el{
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(255, 184, 77);
    margin: 4px 0px;
}

.side_4 .timetable_list .timetable_el_list{
    display: none;
    overflow: hidden;
    transition: 1s;
}

.side_4 .timetable_list .timetable_el_list div{
    margin: 2px 0px;
    padding: 5px;
    background-color: rgb(250, 212, 144);
    color: rgb(158, 93, 2);
    font-size: 13px;
}

.side_4 .timetable_el:hover{
    text-decoration: underline white;
}

.side_4 .timetable_list .timetable_el_list div:hover{
    background-color: rgb(255, 199, 102);
}

.side_4 .info_2{
    padding: 5px 30px;
    color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;

}











.main_2{
    margin-left: 40px;
    width: 800px;
}

.info{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
}

#info{
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 2px solid rgb(251, 193, 130);
    color: rgb(196, 117, 4);
}

.info p{
    color: rgb(163, 114, 28);
    font-size: 14px;
}

.adv{
    display: flex;
    margin-top: 15px;
    width: 100%;
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
}

#adv_1, #adv_2, #adv_3{
    width: 220px;
    height: 220px;
    border: 2px solid rgb(251, 193, 130);
}

#adv_1{
    margin: 25px 5px 25px auto;
    background-image: url(../imgs/adv1.webp);
}

#adv_2{
    margin: 25px 5px 25px 5px;
    background-image: url(../imgs/adv2.webp);
}

#adv_3{
    margin: 25px auto 25px 5px;
    background-image: url(../imgs/adv3.webp);
}

.sort{
    margin-top: 15px;
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
    text-align: center;
    color: rgba(163, 113, 28, 0.8);
    user-select: none;
}

.sort span:hover{
    color: rgb(116, 81, 21);
    text-decoration: underline;
}

.slide{
    position: relative;
    margin-top: 15px;
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
    height: 310px;
    overflow: hidden;
}

.slide .imgs{
    right: 350px;
    width: 1500px;
    position: relative;
    text-align: center;
}

.img_1, .img_2, .img_3, .img_4, .img_5{
    position: absolute;
    background-color: brown;
    border: 5px solid black;
    width: 300px;
    height: 300px;
    transition: 1s;
    overflow: hidden;
}

.img_1{
    left: 0px;
    background-image: url(../imgs/cat_1.jpg);
    background-size: auto 300px;
    background-position: center;
}
.img_2{
    left: 300px;
    background-image: url(../imgs/cat_2.jpg);
    background-size: auto 300px;
    background-position: center;
}
.img_3{
    left: 600px;
    background-image: url(../imgs/cat_3.jpg);
    background-size: auto 300px;
    background-position: center;
}
.img_4{
    left: 900px;
    background-image: url(../imgs/cat_4.jpg);
    background-size: auto 300px;
    background-position: center;
}
.img_5{
    left: 1200px;
    background-image: url(../imgs/cat_5.jpg);
    background-size: auto 300px;
    background-position: center;
}

.slide .arrow_1, .slide .arrow_2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    top: 132px;
}

.slide .arrow_2{
    right: 0px;
}

.anime{
    margin-top: 20px;
    width: 100%;
    background-color: rgb(253, 225, 197);
    border: 2px solid rgb(251, 193, 130);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom, #fde8cb 0%,#fed79f 100%);
}

.anime .anime_name{
    position: relative;
    padding: 20px 60px;
    color: rgb(196, 117, 4);
    font-size: 23px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
}

.anime .anime_name .box_1, .anime .anime_name .box_2{
    transform: rotate(0.125turn);
    position: absolute;
    width: 30px;
    height: 30px;
}

.anime .anime_name .box_2{
    left: 5px;
    background-color: rgb(253, 225, 197);
}

.anime .anime_name .box_1{
    left: 15px;
    background-color: rgb(196, 117, 4);
}

.anime .anime_stats{
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    background-color: rgb(253, 207, 143);
    height: 38px;
    font-weight: bolder;
    color: white;
}

.anime .anime_stats .date{
    float: left;
    margin: 10px;
    width: 300px;
}
.anime .anime_stats .stats{
    float: right;
    text-align: end;
    margin: 10px;
    width: 300px;
}

.anime .anime_info{
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
}

.anime .anime_stats span{
    background-position: -3px;
    background-repeat: no-repeat;
    padding: 0px 20px;
}

.anime .anime_info .anime_img{
    overflow: hidden;
    border: 1px solid rgb(196, 117, 4);
    background-color: rgb(196, 117, 4);
    border-radius: 10px;
    float: left;
    margin: 15px;
}

.anime .anime_info .anime_name_eng{
    margin: 10px;
    margin-left: 270px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    background-color: rgb(255, 197, 121);
    border-radius: 10px;
    text-align: center;
}

.anime .anime_info p{
    margin: 5px auto;
    padding: 0px 15px;
}

.anime .category{
    border-top: 1px solid white;
    color: rgb(173, 120, 51);
}

.anime .category p{
    font-size: 17px;
    float: left;
    padding: 20px;
}

.anime .category button{
    height: 45px;
    margin: 23px;
    padding: 10px;
    float: right;
    background: linear-gradient(to bottom, #ffca75 0%,#fca51e 100%);
    border: 2px solid rgb(252, 179, 102);
    border-radius: 13px;
    font-weight: bolder;
}

.anime .category button a{
    color: white;
}

.anime .category button:hover{
    background: linear-gradient(to bottom, #fca51e 0%,#ffca75 99%);
}











footer{
    height: 100px;
    background-color: rgb(221, 188, 144);
}












